[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-RESTful = "*"
flask-marshmallow = "*"

[dev-packages]
pytest = "*"
pylint = "*"
WebTest = "*"

[requires]
python_version = "3.6"
